#!/usr/bin/env direnv

# shellcheck disable=SC1008

HELM_HOME="$(pwd)/.helm"
HELM_CACHE_HOME="$HELM_HOME/cache"
HELM_CONFIG_HOME="$HELM_HOME/config"
HELM_DATA_HOME="$HELM_HOME/data"

export HELM_CACHE_HOME HELM_CONFIG_HOME HELM_DATA_HOME
